:root {
    --app-font: "Courier Prime Code";

    --background-col: #0F283F;
    --background-col-alt: #0F283F;
    --background-highlight: #153959;
    --background-highlight-alt: #153959;

	--text-col: #AAC9E5;
	--highlight-col: #BDDFFF;
    
    --outline-col: #6699CC;
    --rounding-big: 10px;
    --rounding-small: calc(var(--rounding-big) / 2);


    --main-color: var(--background-col);
    --main-alt: var(--background-col-alt);
    --status-picker-color: var(--background-col);
    --sidebar-panel-color: var(--background-col-alt);
    --tooltip-color: var(--background-col-alt);
    --tooltip-text-color: var(--text-col);
    --tooltip-shadow: var(--background-col-alt);

    --accent-lightness: 100%;
    --accent-text-color: var(--background-col);

    --message-color: var(--background-col-alt);
    --message-color-hover: var(--background-highlight);
    --message-color-alt: var(--background-col-alt);
    --message-radius: var(--rounding-big);
    --media-radius: var(--rounding-big);
    --attachment-color: var(--background-col);

    --main-textarea-color: var(--background-col-alt);
    --main-textarea-color-alt: var(--background-col);
    --main-textarea-border: var(--outline-col);
    --main-textarea-border-radius: var(--rounding-big);

    --popout-color: var(--background-col-alt);
    --popout-color-alt: var(--background-col);
    --popout-header-border: var(--outline-col);
    --separator-color: var(--outline-col);
    --popout-radius: var(--rounding-big);
    --popout-radius-big: var(--rounding-big);

    --card-color-filled: var(--background-col-alt);
    --card-color-hover: var(--background-highlight-alt);
    --card-color-active: var(--background-col-alt);
    --card-color-alt: var(--background-col);
    --card-color-alt-hover: var(--background-hover);
    --card-border-color: var(--outline-col);
    --card-header-text-color: var(--text-col);
    --card-radius: var(--rounding-big);
    --card-radius-big: var(--rounding-big);

	--button-radius: var(--rounding-big);
	--button-link-text-color: var(--text-col);

	--switch-knob-color: var(--text-col);
	--switch-slider-color: var(--background-col-alt);

	--input-color: var(--background-col-alt);
	--input-color-alt: var(--background-col);
	--input-border-color: var(--outline-col);
	--input-text-color: var(--text-col);
	--input-placeholder-color: var(--text-col);

	--scrollbar-color: var(--outline-col);
}
