/*
!/.gitignore
!/alacritty.toml
!/Backgrounds/
!/blender/
!/BlenderNord.xml
!/btop/
!/cava/
!/clapboard/
!/dolphinrc
!/dunst/
!/fish/
!/fontconfig/
!/foot/
!/glava/
!/glib-2.0/
!/gtk-3.0/
!/gtk-4.0/
!/hypr/
!/HyprnordLogo.kra
!/HyprnordLogo.png
!/JetBrainsSettings.zip
!/kdeglobals
!/kdenliverc
!/kitty/
!/mimeapps.list
!/mpv/
!/neofetch/
!/neovide/
!/Nord.colors
!/nvim/
!/nwg-look/
!/OpenRGB/
/OpenRGB/logs/
!/pipewire/
!/qt5ct/
!/qt6ct/
!/qtcurve/
!/QtProject/
!/QtProject.conf
!/README.md
!/Ricer/
!/rofi/
!/swaync/
!/UnityUltraWideLayout.wlt
!/UnityNord.json
!/vesktop/
/vesktop/Crashpad/
/vesktop/sessionData/
/vesktop/themes/
/vesktop/vencordDist/
/vesktop/settings.json
/vesktop/SingletonCookie
/vesktop/SingletonLock
/vesktop/SingletonSocket
/vesktop/state.json
!/waybar/
!/wpaperd/
!/xdg-desktop-portal/
!/xsettingsd/
!/YouTubeEnhancer.json
