[submodule ".config/nvim"]
	path = .config/nvim
	url = ../nvim
[submodule ".config/hypr/HyprlandUnityFix"]
	path = .config/hypr/HyprlandUnityFix
	url = ../HyprlandUnityFix
[submodule ".config/hypr/shaders/Hyprstorm"]
	path = .config/hypr/shaders/Hyprstorm
	url = ../Hyprstorm
[submodule ".config/ghostty/shaders/ghostty-cursor-shaders"]
	path = .config/ghostty/shaders/ghostty-cursor-shaders
	url = ../ghostty-cursor-shaders
[submodule ".config/mpv/scripts/tachytome"]
	path = .config/mpv/scripts/tachytome
	url = ../../nnra6864/tachytome
