#################
# ☦︎ RICERLAND ☦︎ #
#################

# Git
/*
!/Assets/
!/.gitignore
!/README.md
!/setup.sh


###########
# .config #
###########

!/.config/
/.config/*

# SYSTEM #

# Hyprland
!/.config/hypr/

# Misc
!/.config/hints/
!/.config/mimeapps.list
!/.config/environment.d/
!/.config/xdg-terminals.list
!/.config/xdg-desktop-portal/
!/.config/SFX/
!/.config/symbols
!/.config/blur/
!/.config/Packages
!/.config/wlr-which-key/

# OBS
!/.config/obs-studio/
/.config/obs-studio/*
!/.config/obs-studio/basic/
/.config/obs-studio/basic/scenes
/.config/obs-studio/basic/profiles/*/*.json.bak
/.config/obs-studio/basic/profiles/*/service.json
/.config/obs-studio/basic/profiles/*/service.json.bak


# RICING #

# KDE
!/.config/qt5ct/
!/.config/qt6ct/

# GTK
!/.config/gtk-3.0/
!/.config/gtk-4.0/
!/.config/nwg-look/

# Misc
!/.config/Ricer/
!/.config/Nisualizer/
!/.config/Backgrounds/
!/.config/fontconfig/
!/.config/Fonts/
/.config/Fonts/**/.uuid
!/.config/oomox/


# APPLICATIONS #

!/.local/
/.local/*

!/.local/share/
/.local/share/*

!/.local/share/applications/
/.local/share/applications/*
!/.local/share/applications/Custom/

!/.local/share/flatpak/
/.local/share/flatpak/*
!/.local/share/flatpak/overrides/

# Terminals
!/.config/ghostty/
!/.config/kitty/
!/.config/foot/

# Fish
!/.config/fish/
/.config/fish/*
!/.config/fish/completions/
!/.config/fish/conf.d/
!/.config/fish/functions/
!/.config/fish/scripts/
!/.config/fish/themes/
!/.config/fish/config.fish
!/.config/fish/fish_plugins

# CLI
!/.config/tmux/
!/.config/oh-my-posh/
!/.config/btop/
!/.config/cava/
!/.config/dunst/
!/.config/ncmpcpp/
!/.config/fastfetch/

# MPD
!/.config/mpd/
/.config/mpd/*
!/.config/mpd/mpd.conf

# Browsers
!/.config/BrowserExtensions/
!/.config/ZenBrowser/

# Unity
!/.config/Unity/
!/.config/UnityUltraWideLayout.wlt
!/.config/UnityNord.json

# Blender
!/.config/blender/
/.config/blender/*/*
!/.config/blender/*/config/userpref.blend
!/.config/blender/*/extensions/
/.config/blender/*/extensions/.cache/

# IDE
!/.config/nvim/
!/.config/neovide/
!/.config/zed/

# Games
!/.config/CS2/

# Files
!/.config/yazi/
!/.config/dolphinrc
!/.config/bat/

# Audio
!/.config/pipewire/
!/.config/wireplumber/

# Misc
!/.config/glava/
!/.config/mpv/
!/.config/vicinae/
!/.config/rofi/
!/.config/cliphist-rofi-img
!/.config/swaync/
!/.config/waybar/
!/.config/hyprpanel/
!/.config/yt-dlp/
**/__pycache__
