#############
# RICERLAND #
#############

# Git
/*
!/.gitignore
!/README.md


##########
# System #
##########

# Hyprland
!/hypr/
!/HyprnordLogo.kra
!/HyprnordLogo.png
!/pypr/


# Misc
!/glib-2.0/
!/hints/
!/xsettingsd/
!/mimeapps.list
!/environment.d/
!/xdg-terminals.list
!/xdg-desktop-portal/
!/SFX/
!/symbols
!/blur/
!/Packages
!/wlr-which-key/

# OBS
!/obs-studio/
/obs-studio/*
!/obs-studio/basic/
/obs-studio/basic/scenes
/obs-studio/basic/profiles/*/service.json
/obs-studio/basic/profiles/*/service.json.bak


##########
# Ricing #
##########

# KDE
!/kdedefaults/
!/kdeglobals
!/qt5ct/
!/qt6ct/
!/qtcurve/
!/QtProject/
!/Nord.colors
!/kdenliverc

# GTK
!/gtk-3.0/
!/gtk-4.0/
!/nwg-look/
!/nwg-drawer/
!/nwg-dock-hyprland/

# Cosmic
!/cosmic/

# Misc
!/Ricer/
!/Nisualizer/
!/Backgrounds/
!/fontconfig/
!/Fonts/
/Fonts/**/.uuid
!/oomox/
!/wpaperd/
!/ags/


################
# Applications #
################

!/Applications/

# Terminals
!/ghostty/
!/kitty/
!/alacritty.toml
!/foot/

# CLI
!/fish/
!/nushell/
!/tmux/
!/oh-my-posh/
!/starship.toml
!/btop/
!/htop/
!/cava/
!/dunst/
!/ncmpcpp/
!/neofetch/
!/fastfetch/

# MPD
!/mpd/
/mpd/*
!/mpd/mpd.conf

# Browsers
!/BrowserExtensions/
!/ZenBrowser/

# Unity
!/Unity/
!/UnityUltraWideLayout.wlt
!/UnityNord.json

# Blender
!/blender/
/blender/extension/.cache/
!/BlenderNord.xml

# IDE
!/nvim/
!/neovide/
!/JetBrains/
!/JetBrainsSettings/
!/zed/

# Games
!/CS2/

# Files
!/yazi/
!/dolphinrc
!/ranger/
!/nautilus/
!/nemo/
!/caja/
!/bat/
!/viewnior/

# Social
!/BetterDiscord/

# Equibop
!/equibop
/equibop/*
!/equibop/settings/

# Audio
!/pipewire/
!/wireplumber/

# Misc
!/glava/
!/mpv/
!/vicinae/
!/rofi/
!/clapboard/
!/cliphist-rofi-img
!/keepassxc/
!/swaync/
!/waybar/
!/hyprpanel/
!/yt-dlp/
!/.tidal-dl.json
