* {
    border:        none; 
    border-radius: 0px;
    font-family:   "Cascadia Code";
    font-size:     16px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
    padding: 1px 5px 1px 5px;
}

window#waybar {
    color: rgba(136, 192, 208, 1);
    background-color: rgba(46, 52, 64, .8);
    border: 2px solid rgba(94, 129, 172, 0.8);
    border-radius: 20px;
    padding-top: 5px;
}

window#waybar.solo {
    color: rgba(53, 185, 171, 1);
}

#workspaces {
    margin: 0 5px;
}

#custom-scratchpad {
    margin: 0px	5px;
    padding: 0px 5px;
}

#workspaces button {
    padding: 0 5px;
    color: rgba(46, 52, 64, 0);
}

#workspaces button.focused {
    color: rgba(59, 66, 82, 0);
}

#workspaces button.visible {
    color: rgba(59, 66, 82, 0);
}

#workspaces button.urgent {
    color: rgba(59, 66, 82, 0);
}

#mode, 
#battery, 
#cpu, 
#memory, 
#network, 
#pulseaudio, 
#idle_inhibitor, 
#temperature,
#custom-layout,
#backlight {
    margin: 0px 6px 0px 10px;
/*    min-width: 30px;*/
}

#clock {
    margin: 0px 6px 0px 10px;
}
