configuration {
    font: "ricer.val.font ricer.val.big_font_size";
    line-margin: 10;

    display-ssh: "";
    display-run: "";
    display-drun: "";
    display-window: "";
    display-combi: "";
    show-icons: true;
}

@theme "~/.config/rofi/themes/theme.rasi"

listview {
	lines: 10;
	columns: 1;
}
